In [ ]:
#the shortcut of run this cell is ctrl + Enter
print("welcome to the project customer churn analysis!!!")

### Import our necessary libraries

In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [8]:
#read our csv dataset
customer_churn= pd.read_csv("customer_churn.csv")
print("My dataset is loaded")

My dataset is loaded

In [10]:
#if you want to read top five columns
customer_churn.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
#it will return me the first 2 rows 
customer_churn.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [12]:
#it will return me the last 5 rows 
customer_churn.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [13]:
#what type of data your customer_churn
type(customer_churn)

pandas.core.frame.DataFrame

In [14]:
#how many rows and columns are present in the dataset
customer_churn.shape
#(7043,21)=> first number indicates that rows(7043) and second number (21) indicates the columns
#our index is starting from the dataframe is 0 and it will end in 7042
#(7043)

(7043, 21)

In [15]:
#interested to the columns names
customer_churn.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [16]:
#is there any null values present in the dataset
customer_churn.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

#five point summary of the dataframe
customer_churn.describe()

### Data Manipulation

In [22]:
#a. Extract the 5th column & store it in â€˜customer_5â€™
# here indexing starting from 0 and that the reason taken [0-4]
customer_5=customer_churn.iloc[:,4]

In [23]:
customer_5.head()

0    No
1    No
2    No
3    No
4    No
Name: Dependents, dtype: object

In [24]:
#b. Extract the 15th column & store it in â€˜customer_15â€™
#here indexing starting from 0 and that the reason taken [0-14]
customer_15 = customer_churn.iloc[:,14]

In [26]:
customer_15.head()

0    No
1    No
2    No
3    No
4    No
Name: StreamingMovies, dtype: object

In [29]:
#c. Extract all the male senior citizens whose Payment Method is Electronic check & store the result in â€˜senior_male_electronicâ€™ 
my_subset =(customer_churn['gender']=='Male') & (customer_churn['SeniorCitizen']==1) &(customer_churn['PaymentMethod']=='Electronic check')

In [31]:
senior_male_electronic=customer_churn[my_subset]

In [32]:
#first five rows of the dataframe
senior_male_electronic.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
20,8779-QRDMV,Male,1,No,No,1,No,No phone service,DSL,No,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,Yes
55,1658-BYGOY,Male,1,No,No,18,Yes,Yes,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.45,1752.55,Yes
57,5067-XJQFU,Male,1,Yes,Yes,66,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,108.45,7076.35,No
78,0191-ZHSKZ,Male,1,No,No,30,Yes,No,DSL,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,74.75,2111.3,No
91,2424-WVHPL,Male,1,No,No,1,Yes,No,Fiber optic,No,...,No,Yes,No,No,Month-to-month,No,Electronic check,74.70,74.7,No

In [37]:
#interested to see only this columns and create the dataframe with this three columns
senior_male_electronic[['gender','SeniorCitizen','PaymentMethod']]

     gender  SeniorCitizen     PaymentMethod
20     Male              1  Electronic check
55     Male              1  Electronic check
57     Male              1  Electronic check
78     Male              1  Electronic check
91     Male              1  Electronic check
...     ...            ...               ...
6837   Male              1  Electronic check
6894   Male              1  Electronic check
6914   Male              1  Electronic check
6967   Male              1  Electronic check
7032   Male              1  Electronic check

[298 rows x 3 columns]

In [38]:
#d. Extract all those customers whose tenure is greater than 70 months or their Monthly charges is more than 100$ & store the result in â€˜customer_total_tenureâ€™
my_second_subset=(customer_churn['tenure']>70) | (customer_churn['MonthlyCharges']>100)

In [39]:
customer_total_tenure= customer_churn[my_second_subset]

In [40]:
customer_total_tenure.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
12,8091-TTVAX,Male,0,Yes,No,58,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,No,Credit card (automatic),100.35,5681.1,No
13,0280-XJGEX,Male,0,No,No,49,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes
14,5129-JLPIS,Male,0,No,No,25,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,105.50,2686.05,No
15,3655-SNQYZ,Female,0,Yes,Yes,69,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),113.25,7895.15,No

In [41]:
customer_total_tenure[['tenure','MonthlyCharges']]

      tenure  MonthlyCharges
8         28          104.80
12        58          100.35
13        49          103.70
14        25          105.50
15        69          113.25
...      ...             ...
7023      63          103.50
7034      67          102.95
7037      72           21.15
7039      72          103.20
7042      66          105.65

[1259 rows x 2 columns]

In [42]:
#e. Extract all the customers whose Contract is of two years, payment method is Mailed check & the value of Churn is â€˜Yesâ€™ & store the result in â€˜two_mail_yesâ€™
my_another_subset =(customer_churn['Contract']=="Two year") & (customer_churn['PaymentMethod']=="Mailed check") &(customer_churn['Churn']=="Yes")

In [44]:
two_mail_yes= customer_churn[my_another_subset]

In [45]:
two_mail_yes.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
268,6323-AYBRX,Male,0,No,No,59,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.35,1099.6,Yes
5947,7951-QKZPL,Female,0,Yes,Yes,33,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,24.50,740.3,Yes
6680,9412-ARGBX,Female,0,No,Yes,48,Yes,No,Fiber optic,No,...,Yes,Yes,Yes,No,Two year,Yes,Mailed check,95.50,4627.85,Yes

In [47]:
two_mail_yes[['Contract','PaymentMethod','Churn']]

      Contract PaymentMethod Churn
268   Two year  Mailed check   Yes
5947  Two year  Mailed check   Yes
6680  Two year  Mailed check   Yes

In [48]:
#. Extract 333 random records from the customer_churn dataframe & store the result in â€˜customer_333â€™ 
customer_333=customer_churn.sample(n=333)

In [56]:
customer_333.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
334,2868-SNELZ,Female,0,No,No,2,Yes,Yes,Fiber optic,No,...,Yes,No,No,No,Month-to-month,No,Mailed check,80.60,155.8,Yes
1492,3254-YRILK,Male,1,No,No,19,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,88.20,1775.8,Yes
4536,3428-XZMAZ,Male,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,69.35,69.35,Yes
1183,0887-WBJVH,Female,0,Yes,No,53,Yes,No,Fiber optic,No,...,No,Yes,Yes,Yes,One year,Yes,Electronic check,93.45,4872.2,No
3895,4979-HPRFL,Male,0,Yes,Yes,56,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),24.15,1402.25,No

In [57]:
#Get the count of different levels from the â€˜Churnâ€™ column
customer_churn['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [58]:
customer_churn['Contract'].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64